/* Define @font-face for Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  }
  
  /* Define @font-face for Montserrat Bold */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  
  